body {
  margin: 0;
  height: 100%;
  width: 100%;
}

canvas {
  height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
}

ul {
  margin: 4px;
  padding: 0;
  & > li {
    list-style: none;
    font-size: 12px;
    color: white;
  }
}
